* {
  margin: 0;
  padding: 0;
  color: white;
}

:root {
  --gutter: 30px;
}

body {
  max-width: 960px;
  margin: auto;
  background-color: darkslategray;
  display: grid;
  grid-template-rows: auto auto auto 400px;
  gap: var(--gutter);
}

header > .logo {
  height: 25vh;
}

main {
  display: flex;
  gap: var(--gutter);
  flex-direction: column;
}

nav{
  padding: 20px;
  background-color: lightslategray;
  border-radius: 20px;
}

nav > ul {
  display: flex;
  gap: 20px;
}

nav > ul li {
  list-style-type: none;
}

footer {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  gap: var(--gutter);
}

footer .logo {
  width: 10vw;
}

.top {
  display: flex;
}

.row {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gutter);
}
